# Ignore build artifacts
main

# Ignore other common files
todo
compile_commands.json

# Ignore common temp files
*.log
*.tmp
*.swp

# Ignore other temp files
*.asm
*.ir
*.bin
*.can
*.exp
*.opt
*.ccan

# Ignore editor/IDE folders
.vscode/
.idea/
.cache/

# Ignore custom folders
Compiler pipeline/
custom-asm/
obj/